#chicken {
  width: 130px;
  height: 50px;
  background-size: 130px 50px;
  position: relative;
  top: 150px;
  left: 20px;
}

.count {
  position: absolute;
  font-size: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.jump {
  animation: jump 0.3s linear;
}

@keyframes jump {
  0% {
    top: 150px;
  }

  30% {
    top: 130px;
  }

  50% {
    top: 80px;
  }

  80% {
    top: 130px;
  }

  100% {
    top: 150px;
  }
}

#bonfire {
  width: 30px;
  height: 50px;
  position: absolute;
  top: 145px;
  left: 95%;
  background-image: url('../../../assets/images/bonfire.png');
  background-size: 30px 50px;
  z-index: 2;
}

#unicorn {
  position: absolute;
  width: 180px;
  height: 100%;
  right: 0;
  bottom: 0;
  background: url('../../../assets/images/unicorn.png') no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}

#cloud1 {
  position: absolute;
  width: 330px;
  height: 100%;
  top: 5px;
  left: 100%;
  background: url('../../../assets/images/cloud2.png') no-repeat;
  background-size: 40% 40%;
}

.cloud1__on {
  animation: block_cloud 6s infinite ease-in-out;
}

.cloud2__on {
  animation: block_cloud 4.5s infinite ease-in-out;
}

#cloud2 {
  position: absolute;
  width: 250px;
  height: 80%;
  top: 30px;
  left: 100%;
  background: url('../../../assets/images/cloud1.png') no-repeat;
  background-size: 40% 40%;
}

.game {
  position: relative;

  #bonfire {

  }

  .on {
    animation: block 1s infinite linear;
  }

  #chicken {
    background-image: url('../../../assets/images/rainbow_chicken.png');
  }

  &Over {
    #bonfire {
      animation: none
    }

    #chicken {
      background-image: url('../../../assets/images/chicken2.png');
      width: 55px;
      height: 55px;
      background-size: 55px 55px;
      top: 140px;
      left: 80px;
    }
  }
}


@keyframes block {
  0% {
    left: 85%;
  }

  100% {
    left: -20px;
  }
}

@keyframes block_cloud {
  0% {
    left: 95%;
  }

  50% {
    left: -20px;
  }

  100% {
    left: 95%;
  }
}