@include expandAnimation;
.sidepanel {
  &__item {
    text-decoration: none;
    color: black;

    &:hover {
      color: $primary-color;
      background-color: rgba($primary-color, .1);
    }

    &_active {
      color: $primary-color;

      &:before {
        content: "";
        display: block;
        width: 3px;
        height: 48px;
        background: $second-color;
        border-radius: 2px;
        right: 0;
        position: absolute;
        animation: headerItemAnimation .3s linear;
      }

      svg {
        fill: $second-color;
      }

    }
  }
}