#main {
  flex: 1 1 auto;
}

.home {
  min-height: 40vh;
  padding-bottom: 80px;
  padding-top: 40px;
  width: calc(100vw - 57px);
  transition: all .3s;
  overflow: hidden;
  margin-left: 57px;
}

.is-sidepanel {
  transition: all .3s;
  width: calc(100vw - 240px);
  margin-left: 240px;
}